@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700');

/* Nav */
header {
    background-color: #131212;
}

.navbar-brand>img {
    height: 50px;
    padding-right: 4px;
    display: none;
}

.navbar-brand {
    font-family: "Oswald", sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2.5px 2.5px 1px #4b3535;
    transform: skewX(-11deg);
}

.navbar-brand>span[name=tech] {
    color: #fe4900;
}

/* Home */
#home {
    min-height: 100vh;
    position: relative;
}

#home-content {
    position: relative;
}

#home:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url('../img/img-2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
}


/* Clientes */
.carousel-wrapper {
    --width-carousel: 900px;
    --width-item: 100px;
    --gap: 0;
    --num-items: 10;
    --ani-offset: calc(var(--width-item) * var(--num-items) * -1 + var(--width-carousel));
    --ani-speed: 2s;

    width:  var(--width-carousel);
    overflow: hidden;
    position: relative;
}

.carousel-wrapper::before,
.carousel-wrapper::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 1;
    top: 0;
}

.carousel-wrapper::before {
    left: 0;
    background-image: linear-gradient(to right, var(--bg-clr) 0%, transparent 50%);
}

.carousel-wrapper::after {
    right: 0;
    background-image: linear-gradient(to left, var(--bg-clr) 0%, transparent 50%);
}

.carousel {
    display: flex;
    align-items: center;
    animation: slide var(--ani-speed) linear infinite alternate;
}

.item {
    flex: 1 0 var(--width-item);
    text-align: center;
    padding: 1rem;
}

.item>img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@keyframes slide {
    100% {
        transform: translateX(var(--ani-offset));
    }
}