@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700');

/* Nav */
header {
    background-color: #131212;
    opacity: 0.9;
}

.navbar-brand>img {
    height: 50px;
    padding-right: 4px;
    display: none;
}

.navbar-brand {
    font-family: "Oswald", sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2.5px 2.5px 1px #4b3535;
    transform: skewX(-11deg);
}

.navbar-brand > span[name=tech] {
    color: #fe4900;
}

/* Home */
h1, h2 {
    color: #ed8258;
}

#home {
    position: relative;
}

#home-content {
    position: relative;
}

#home:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url('../img/img-2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
}

/* Footer */
#products {
    background-color: #2b3035;
}

footer {
    background-color: #131212;
}

/* Products */
.product-description {
    max-width: 500px;
}

.product-title {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #ed8258;
    text-align: center;
    margin-bottom: 10px;
}

.product-text {
    font-size: 1.1rem;
    color: #ccc;
    text-align: center;
}

/* Services */
.bg-dark-alt {
    background-color: #0f0f0f9e;
}

/* Clients */
.logo-slider {
    overflow: hidden;
    padding: 60px 0 30px 0;
    white-space: nowrap;
    position: relative;
}

.logo-slider:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 10s slide infinite linear;
}

.logos-slide img {
    /* width: 103px; */
    height: 63px;
    margin: 0 40px;
}


@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}